
.mb-10{
	margin-bottom:10px
}

.marketitem {
	overflow:hidden
}

.incoming {
	color:green;
}

.outgoing {
	color:red;
}

/*.bodymain {
	background-image: url("ih5.jpg");
	background-size: cover;	
}*/