
.mb-10{
	margin-bottom:10px
}

.marketitem {
	overflow:hidden
}

.incoming {
	color:green;
}

.outgoing {
	color:red;
}

.listingbox {

    background: lightgrey;
    border-radius: 1rem;
    padding-bottom: 1.2rem;
    margin: 1rem 0;
    border: 1px solid black;

}

.smallbutton {
	margin-bottom: 0.5rem;
}

/*.tinyfont {
	font-size:12px;
}*/


/*.bodymain {
	background-image: url("ih5.jpg");
	background-size: cover;	
}*/